<div class="container mt-3">
    <h1>All Restaurants</h1>

    <% @restaurants.each do |restaurant| %>
        <p><%= link_to restaurant.name, restaurant_path(restaurant) %> -  <%= restaurant.address %></p>
    <% end %>
    <br>
    <br>
    <%= link_to  "Create a new Restaurant", new_restaurant_path %>
</div>